span.description {
    font-size: 1.5em;
    font-weight: bold;
    color: #f33;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: #33a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
}

p::first-letter {
    font-size: 1.5em;
}

#content {
    background-color: #aaa;
    padding: 20px;
}

body {
    margin: 0;
}

.mood-img {
    width: 15vw;
    height: auto;
}

.checker {
    width: 15vw;
    height: auto;
}

div.favorite-movies a {
    text-decoration: none;
}

div.favorite-movies a:hover {
    text-decoration: underline;
}

div.favorite-movies ul {
    list-style-type: none;
    padding: 0;
}

.movies-order {
    display: flex;
    flex-direction: column-reverse;
}

.movies-order li {
    flex: 0 0 auto;
}